* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em) 0 0,
        linear-gradient(90deg,
        rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em) 0 0;
    background-size: 1em 1em;
    background-color: ivory;
}

.wrapper{
    margin: 0 auto;
    width: 940px;
}

.hidden{
    display: none;
}

form.input {
    text-align: center;
    margin: 40px;
}

textarea {
    font-size: 14px;
    background: #eae5e5;
    max-height: 202px;
    padding: 5px 7px;
    outline: none;
    border-radius: 5px;
    overflow: auto;
    resize: none;
    box-shadow: 6px 7px 4px 1px rgba(0,0,0,0.56);
}