.keyboard {
    display: block;
    padding: 14px;
    border: 2px solid gray;
    border-radius: 5px;
    background: #eee9e9;
    box-shadow: 11px 15px 9px 1px rgba(0,0,0,0.56);
    &__title{
        display: inline-block;
        margin: 5px;
        font-size: 12px;
        font-style: italic;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 2px;
        background: #673ab763;
        text-align: center;
        width: 90%;
    }
    &__lang{
        float: right;
        margin: 5px 14px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 50%;
        padding: 4px;
        background-color: #0e0e0e;
        color: #04fc04;
    }
    &__row {
        padding: 4px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        border: 2px solid black;
        border-radius: 7px;
        font-size: 16px;
        padding: 10px;
        transition: all .07s ease;
        width: 55px;
        text-align: center;
        color: white;
        background: #ff5722d4;
        text-shadow: 0 0 0.5rem black;
        &[data-code='Backspace'],
        &[data-code*='Control'],
        &[data-code*='Shift'],
        &[data-code='CapsLock'],
        &[data-code='Enter'] {
            width: 110px;
        }
        &[data-code='Backspace'],
        &[data-code*='Control'],
        &[data-code*='Shift'],
        &[data-code='CapsLock'],
        &[data-code='Delete'],
        &[data-code*='Alt'],
        &[data-code='Tab'],
        &[data-code='Enter'],
        &[data-code='MetaLeft'],
        &[data-code*='Arrow'] {
            background-color: #0f16ecb8;
        }
        &[data-code='Space']{
            width: 310px;
        }
        &_active {
            transform: scale(0.85);
            border-color: #b8cd0ad9;
            box-shadow: 0 0 1rem #100e0efa;
            background-color: #080707d9 !important;
        }
        &_capslock {
            background-color: green !important;
        }
        &:hover{
            cursor: pointer;
            opacity: 0.5;
        }
    }
}



